<html>

<head>
  <title>404 Error</title>
  <link rel="SHORTCUT ICON" href="favicon.ico" />
  <link rel="stylesheet" href="/style/ghCore.css" type="text/css" />
  <link rel="stylesheet" href="/style/themes/ghAlpha.css" type="text/css" />
  <script type="text/javascript" src="/js/ghShared.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//swg.inphamous.com/analytics/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>

<body>
  <div id="topBar" class="wrapper">
    <div id="topLeftColumn" class="ghCol">
    </div>
    <div id="topCenterColumn" class="ghCol">
      <a href="/ghHome.py">
        <div id="ghLogo" class="logo0"></div>
      </a>
    </div>
    <div id="topRightColumn" class="ghCol">
    </div>
  </div>

  <div id="mainContent" class="wrapper">
    <div id="missingInfo" class="ghWidgetBox">
      <h1>Survey Results: 0% concentration for that resource.</h1>
      <h2>Page not found. <a href="/">Go Home</a></h2>
      <div style="height:100%;background-image: url('images/zeroconc.jpg');"></div>
    </div>
  </div>

  <div class="footer">
    <a href="/" title="Galaxy Harvester home page">Home</a> | <a href="/help.py"
      title="Get more information about the Galaxy Harvester project and contributors">About</a> | <a
      href="https://github.com/pwillworth/galaxyharvester"
      title="Open Source Code for Galaxy Harvester Application">Source</a> | <a href="#" id="contact-link">Contact</a> |
    <a href="/help.py" title="Get help using this site">Help</a> | <a href="/feedback.py"
      title="Submit and rate on suggestions for the site.">Suggestions</a> | <a href="/privacy.html"
      title="View the privacy policy for the site.">Privacy</a>
    <p style="padding: 4px;font-weight:normal;">Galaxy Harvester is a tool for tracking resources spawning in galaxies
      of the MMO game Star Wars Galaxies Emulator. Serving the SWGEmu Community Since 2010.</p>
  </div>
</body>

<script>
  document.getElementById("contact-link").addEventListener("click", function () {
    contactMessage("{{ CONTACT_EMAIL }}");
  });
</script>

</html>